


<nav class="navbar navbar-default navbar-fixed-top" *ngIf="!(admin)">
	<div class="container-fluid">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span> 
		</button>
		<a class="navbar-brand" href="#"><img  src="..\assets\download (1).jpg" class="img-fluid img-circle" style="height:100px"></a>
	  </div>
	  <div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-left">
		  <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
		  <li><a href="#band" [routerLink]="['/items','Gents']">MEN'S</a></li>
		  <li><a href="#tour" [routerLink]="['/items','Ladies']">WOMEN'S</a></li>
		  <li><a href="#contact" [routerLink]="['/items','Kids']">KIDS</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">  
			<li><a [routerLink]="['/cart']"><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
			<li  *ngIf="!(customer)">
				<a [routerLink]="['/sign']"><i class="glyphicon glyphicon-log-in"></i>SIGNUP/LOGIN</a>
			</li>
			
		  <li class="dropdown" *ngIf="(customer)">
			<a class="dropbtn" data-toggle="dropdown" href="#">HI {{customer.customerName|uppercase}}
			  <span class="caret"></span>
			</a>
			<ul class="dropdown-content" style="list-style: none;background-color: rgb(102, 78, 73);color: rgb(94, 0, 0)">
			  
				<li><a [routerLink]="['/myprofile']">MY PROFILE</a></li>
				<li><a [routerLink]="['/orderSummaryComponent']">ORDER SUMMARY</a></li>
				<li><a href="#" (click)="signout()">SIGN OUT</a></li> 
				
			</ul>
		</li>
		
		

		 
		  
		</ul>
	  </div>
	</div>
	</nav>
	
	<nav class="navbar navbar-default navbar-fixed-top" *ngIf="(admin)">
			<div class="container-fluid">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="#"><img src="..\assets\download (1).jpg" class="img-fluid img-circle" style="height:100px"></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
				
					<ul class="nav navbar-nav navbar-right">  

					<li class="dropdown" *ngIf="(admin)">
					<a class="dropbtn" data-toggle="dropdown" href="#">Welcome Admin
						<span class="caret"></span>
					</a>
					<ul class="dropdown-content" style="list-style: none;background-color: rgb(102, 78, 73);color: rgb(94, 0, 0)">
						<li><a href="#" [routerLink]="['/updateadminpasswordComponent']">Update Profile</a></li> 
						<li><a href="#" (click)="signout()">Sign Out</a></li> 
					</ul>
				
		
				</li>
				</ul>
				</div>
			</div>
			</nav>



	<br>
	<br>
	<router-outlet></router-outlet>

