.container-fluid {
    padding: 0% 2%;
}

.filters-class {
    margin-left: 0.5%;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 10px;
}

.items-class {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0% 0% 0% 4.5%;
}
.navbar {
  margin-bottom: 0;
  background-color:rgb(83, 67, 67);
  border: 0;
  font-size: 12px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
  color: #fff !important;
}


/* The active link */
.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.glyphicon {
  font-size: x-large;
}


/* Dropdown */
.open .dropdown-toggle {
  color: #fff ;
  background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
  color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
  background-color: #555 !important;
}


.carousel-inner img {
  filter: grayscale(20%); /* make all photos black and white */ 

  width: 80%;
/* Set width to 100% */
  margin: auto;
}
.img1 {
  position: relative;
  float: left;
  width:  400px;
  height: 400px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  overflow: hidden;
}







.container {
  padding: 80px 120px;
}

.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}

/* Remove rounded borders from list */
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail p {
  margin-top: 15px;
  color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: 1.5s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
  transition: 2s;
}

.nav-tabs li a {
  color: #777;
}




ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li:hover a:not(.active) {
  background-color: #D3D3D3;
  color: #000;
}

ul.topnav li a.active {
  background-color: #D2691E;
  color: white;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
  ul.topnav,
  ul.topnav {position: unset}
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.dropdown-content {
display: none;
position: absolute;
}
.dropdown-content a {
  color: black;
}
.dropdown:hover > .dropdown-content {
display: block;
}